  /*
  === FOOTER ===
  */
  footer {
    text-align: center;

  }
  #social-links a {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-decoration: none;

  }
  #social-links i {
    font-size: 35px;
    transition: all 0.3s 
  }
  #social-links i:hover {
    transform: scale(1.15); 
  }
  .fa-linkedin {
    color:#0a66c2;
  }
  .fa-github-square {
    color:  #333;
  }
  .fa-twitter-square {
    color:#1DA1F2;

  }
  #social-links a:hover {
    /* background-color: black; */
    color:white;
    transition: all 0.3s ease-in;

  }
