  /*
  === FORM STYLE ===
  
  */
  form {
 padding:25px;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  }
  .form-group {
    display:flex;
    flex-direction: column;
    margin: 5px auto;

  }

  .form-group label {
    margin-bottom: 5px;;
  }

  .form-group input, .form-group select, .form-group textarea {
    outline:none;
    border: 2px solid rgb(238, 235, 235);
    padding:8px;
    transition: all 0.2s ease-in-out;

  
  }
  .form-group input:hover, .form-group select:hover, .form-group textarea:hover {
  border: 2px solid black;
  }
  .form-group textarea {
    margin-bottom: 5px;
  }
  .skills, .gender, .file {
    margin-top: 5px;;
  }
  form button {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    margin: 10px auto;
    cursor: pointer;
  }